html {
  background-image: linear-gradient(red, yellow);
  resize: both;
  overflow: auto;
}

table, th, td {border: 1px solid black;}

.dropdown {display: inline-block;}

.dropdown-content {
  display: none;
  background-color: whitesmoke;
}

.dropdown-content a {display: block;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}

